/* src/App.css */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

/* Estilo para mensagens de feedback como 'Buscando...' ou 'Nada encontrado' */
.message {
  text-align: center;
  font-size: 18px;
  color: #B6BCBF;
  padding: 40px 0;
}

.message_error {
  color: red;
}
